<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/LayoutPadrao}"
    xmlns:brewer="http://brewer.algaworks.com">
        
<head>
    <title>Trocas detalhadas por período </title>
     <script th:src="@{/javascripts/vendors/pace.min.js}"></script> 
    <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/pace-theme-barber-shop.css}"/>
</head>

<body>

<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10">
                    <h1>Trocas detalhadas por período </h1>
                </div>
            </div>
        </div>
    </div>
    
     <div class="container-fluid">
     <form method="GET" th:action="@{/trocas/{tenantid}/trocasDetalhadasPorPeriodo_{tenantid}/pesquisaDetalhada_{tenantid}(tenantid=${tenantid})}">

                <div class="row">
                            <div class="form-group  col-sm-3">
                                <label for="dataEmissaoInicial" class="control-label  gl-label">Período Inicial</label> 
                                <div class='input-group date'>
                                    <input type="text" class="form-control  js-date gl-dates"
                                        id="dataEmissaoInicial" name="dataEmissaoInicial"
                                        autocomplete="off" /> 
                                        <span class="input-group-addon"> 
                                              <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-3">
                                <label for="dataEmissaoFinal" class="control-label  gl-label">Período Final</label> 
                                <div class='input-group date'>
                                        <input type="text" class="form-control js-date gl-dates"
                                            id="dataEmissaoFinal"  name="dataEmissaoFinal" autocomplete="off" />
                                        <span class="input-group-addon"> 
                                              <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                </div>  
                            </div>
                             <span class="input-group-btn" style="padding-top: 28px;">    
                                 <button type="submit" class="btn  btn-primary">
                                      <i class="glyphicon glyphicon-search"></i>
                                 </button>
                             </span>
                        </div>
                </form> 
                
                <div class="container-fluid">
            
                <div class="table-responsive  bw-tabela-simples" >
                    <table class="table  table-hover" th:object="${trocasDetalhadasPorDia}" id="tableTrocasDetalhadasDoDia">
                        <thead>
                            <tr class="gl-tabela-Padrao-Titulos">
                             <th>Codigo</th>
                              <th>Danfe</th>
                                <th>Lojas</th>
                                <th>Refplu</th>
                                <th>Descrição</th>
                                 <th>Valor Unitário</th>
                                  <th>Qde Itens</th>
                                 <th>Valor Total</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr  class="gl-tabela-Padrao-dados" th:each="troca : ${trocasDetalhadasPorPeriodo}">
                                <td th:text="${#strings.trim(troca.codigo)}">1</td>
                                <td th:text="${@uIUtil.trimZeroEsquerda(troca.numeroNota)}">1</td>
                                <td th:text="${#strings.trim(troca.loja)}">1</td>
                                <td th:text="${troca.refplu}">Visa</td>
                                <td th:text="${troca.produtoDescricao}">Visa</td>
                                  <td th:text="${{'R$ ' + troca.valorUnitario}}">Visa</td>
                                 <td th:text="${{troca.totalItens}}">Visa</td>
                                  <td th:text="${{'R$ ' + (troca.valorUnitario * troca.totalItens)}}">Visa</td>
                                <td></td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(trocasDetalhadasPorPeriodo)}">
                                <td colspan="11" class="gl-nadaEncontrado">Nenhuma troca encontrada no período</td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr th:each="somaVenda : ${somaTrocaPorPeriodo}"> 
                            <td colspan="7" class="gl-tabela-rodape-totalizador-Titulo">TOTAL DE TROCAS DO PERÍODO</td>
                            <td style="text-align: left;" class="gl-tabela-rodape-totalizador-Dados">
                                    <th:block th:if="${somaVenda.valorTroca > 0 }">
                                                  <label style="color: red" th:text="'R$ ' + ${{somaVenda.valorTroca}}"></label>
                                    </th:block> 
                                      <th:block th:if="${somaVenda.valorTroca <= 0 }">
                                                   <label style="color: #333; font-weight: 300;" th:text="'R$ ' + ${{somaVenda.valorTroca}}"></label>
                                    </th:block>    
                            </td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                   
                    <div class="gl-dates" th:if="${!#lists.isEmpty(trocasDetalhadasPorPeriodo)}">
                    <hr />
<!--                        <label >EXPORTAR PARA:</label> -->
                        <button id="btnExportExcel" class="btn btn-sm btn-success clearfix">
                            <span class="fa fa-file-excel-o"></span>  EXPORT TO EXCEL
                        </button>
                    <hr />
                    </div>
                </div>
                </div>
</div>


    
</section>
</body>
</html>