<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springSecurity4"
	xmlns:gestaoloja="http://cccredito.conarsystem.com">

<head>
</head>	

<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">
	
		<div class="row">
			<div class="aw-box--logotipo">
				<img alt="Smart_Eletron" th:src="@{/layout/images/logo-smart-eletron.png}" width="120" height="80"/>				
			</div>
		</div>

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list" gestaoloja:menu="@{/dashboard/{tenantid}/dashboard(tenantid=${tenantid})}">
      		
      		<!--********** Inicio do Menu DashBoard ********** -->
					<li class="aw-menu__item" sec:authorize="hasAuthority('PESQUISA_ADM_GERAL')">
						<a th:href="@{/dashboard/{tenantid}/dashboard(tenantid=${tenantid})}"> 
						<i class="fa  fa-fw  fa-home"></i> <span class="gl-lateral-dashboard">Dashboard</span> 
						</a>
					</li>
					<!--********** Inicio do Menu DashBoard ********** -->
  
  <!--********** Inicio do Menu Consultas Adm ********** -->
  
        		<li class="aw-menu__item" sec:authorize="hasAuthority('PESQUISA_PRODUTOS_GERAL')">
          			<a href="#">
            			<i class="fa  fa-fw  fa-file-text"></i>
            						<span class="gl-lateral-menuPrincipal">Cadastros ADM</span> 
            			<i class="aw-menu__navigation-icon  fa"></i>			          			
          			</a>
        		 		   <ul class="aw-menu__list  aw-menu__list--sublist">   
        		    					 
        		    					 <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/lojas/{tenantid}/lojas(tenantid=${tenantid})}">
								            		<a th:href="@{/lojas/{tenantid}/lojas(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Lojas</label></a>
									    </li>		
        		    					<li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/cargos/{tenantid}/cargos(tenantid=${tenantid})}">
									           		<a th:href="@{/cargos/{tenantid}/cargos(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Cargos</label></a>
									    </li> 
						          		<li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/funcionarios/{tenantid}/funcionarios(tenantid=${tenantid})}">
                                                    <a th:href="@{/funcionarios/{tenantid}/funcionarios(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Funcionários</label></a>
                                        </li> 
<!-- 								        <li class="aw-menu__item  aw-menu__item--link" cccredito:menu="@{/usuarios}"> -->
<!-- 								            		<a th:href="@{/usuarios}">Usuário</a> -->
<!-- 									    </li>						   								    							  -->
					       </ul>       			
	        	</li>	
	        	
<!--********** Final do Menu Consultas Adm ********** -->
                  <!--********** Inicio do Menu Consultas Produtos ********** -->
  
                <li class="aw-menu__item" sec:authorize="hasAuthority('PESQUISA_PRODUTOS_GERAL')">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text"></i>
                                    <span class="gl-lateral-menuPrincipal">Produtos</span> 
                        <i class="aw-menu__navigation-icon  fa"></i>                                
                    </a>
                           <ul class="aw-menu__list  aw-menu__list--sublist">   
                                         
                                         <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/marcas/{tenantid}/marcas(tenantid=${tenantid})}">
                                                    <a th:href="@{/marcas/{tenantid}/marcas(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Marcas Cadastradas</label></a>
                                        </li>       
                                        <li class="aw-menu__item  aw-menu__item--link"  gestaoloja:menu="@{/produtos/{tenantid}/produtos(tenantid=${tenantid})}">
                                                    <a id="js-produto" th:href="@{/produtos/{tenantid}/produtos(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Produtos Cadastrados</label></a>
                                        </li> 
<!--                                        <li class="aw-menu__item  aw-menu__item--link" cccredito:menu="@{/usuarios}"> -->
<!--                                                    <a th:href="@{/usuarios}">Usuário</a> -->
<!--                                        </li>                                                                                         -->
                           </ul>                
                </li>   
  <!--********** Final do Menu Consultas Produtos ********** -->
                
                 <!--********** Inicio do Menu Consultas Estoque ********** -->
  
                <li class="aw-menu__item" sec:authorize="hasAuthority('PESQUISA_ESTOQUE_GERAL')">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text"></i>
                                    <span class="gl-lateral-menuPrincipal">Estoque</span> 
                        <i class="aw-menu__navigation-icon  fa"></i>                                
                    </a>
                           <ul class="aw-menu__list  aw-menu__list--sublist">   
                                         
                                        <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/estoque/{tenantid}/estoque(tenantid=${tenantid})}" sec:authorize="!hasAuthority('PESQUISA_ESTOQUE_GERAL_OEX')"  >
                                                    <a th:href="@{/estoque/{tenantid}/estoque(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Estoque Atual Lojas</label></a>
                                        </li>
                                       <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/estoque/{tenantid}/estoque/oex(tenantid=${tenantid})}" sec:authorize="hasAuthority('PESQUISA_ESTOQUE_GERAL_OEX')" >
                                           <a th:href="@{/estoque/{tenantid}/estoque/oex(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Estoque Atual Lojas</label></a>
                                       </li>
                               <!--                                        <li class="aw-menu__item  aw-menu__item--link" cccredito:menu="@{/usuarios}"> -->
<!--                                                    <a th:href="@{/usuarios}">Usuário</a> -->
<!--                                        </li>                                                                                         -->
                           </ul>                
                </li>   
    <!--********** Final do Menu Consultas Estoque ********** -->              
                
      <!--********** Inicio do Menu Consultas Compras ********** -->
  
                <li class="aw-menu__item" sec:authorize="hasAuthority('PESQUISA_COMPRA_GERAL')">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text"></i>
                                    <span class="gl-lateral-menuPrincipal">Compras</span> 
                        <i class="aw-menu__navigation-icon  fa"></i>                                
                    </a>
                           <ul class="aw-menu__list  aw-menu__list--sublist">   
                                         
                                <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/compras/{tenantid}/compras(tenantid=${tenantid})}" sec:authorize="!hasAuthority('PESQUISA_ESTOQUE_GERAL_OEX')">
                                    <a th:href="@{/compras/{tenantid}/compras(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Analise Compras</label></a>
                                </li>
                                <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/compras/{tenantid}/compras/oex(tenantid=${tenantid})}" sec:authorize="hasAuthority('PESQUISA_ESTOQUE_GERAL_OEX')">
                                    <a th:href="@{/compras/{tenantid}/compras/oex(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Analise Compras</label></a>
                                </li>
                                <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/compras/{tenantid}/analiseDeCompras(tenantid=${tenantid})}" sec:authorize="!hasAuthority('PESQUISA_ESTOQUE_GERAL_OEX')">
                                    <a th:href="@{/compras/{tenantid}/analiseDeCompras(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Analise Detalhada </label></a>
                                </li>
                           </ul>                
                </li>   
    <!--********** Final do Menu Consultas Compras ********** -->                         
                
                
	        <!--********** Inicio do Menu Consultas vendas ********** -->
  
                <li class="aw-menu__item" sec:authorize="hasAuthority('PESQUISA_VENDAS_GERAL')">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text"></i>
                                    <span class="gl-lateral-menuPrincipal">Vendas</span> 
                        <i class="aw-menu__navigation-icon  fa"></i>                                
                    </a>
                           <ul class="aw-menu__list  aw-menu__list--sublist">   
                                       <span class="gl-submenulateral"> < - - Vendas - - ></span>   
                                         <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/vendasTotaisDoDiaPorLoja_{tenantid}(tenantid=${tenantid})}">
                                                    <a th:href="@{/vendas/{tenantid}/vendasTotaisDoDiaPorLoja_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total vendas do dia</label></a>
                                        </li>       
                                        <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/vendasTotaisDoMesPorLoja_{tenantid}(tenantid=${tenantid})}">
                                                    <a th:href="@{/vendas/{tenantid}/vendasTotaisDoMesPorLoja_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total vendas do mês</label></a>
                                        </li> 
                                        <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/vendasTotaisDoAnoPorLoja_{tenantid}(tenantid=${tenantid})}">
                                                    <a th:href="@{/vendas/{tenantid}/vendasTotaisDoAnoPorLoja_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total vendas do ano</label></a>
                                        </li>                                                
                                          <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/vendasTotaisPorPeriodoPorLoja_{tenantid}(tenantid=${tenantid})}">
                                                    <a th:href="@{/vendas/{tenantid}/vendasTotaisPorPeriodoPorLoja_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total vendas por período</label></a>
                                        </li>           
                                         <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/vendasDetalhadasPorPeriodo_{tenantid}(tenantid=${tenantid})}">
<!--                                            <img alt="novidade" th:src="@{/images/icon-novo.png}" width="35" height="20"/> -->
                                                    <a th:href="@{/vendas/{tenantid}/vendasDetalhadasPorPeriodo_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Vendas detalhadas por período por loja</label></a>
                                        </li>  
                                        <span class="gl-submenulateral" >< - - Contribuições - - ></span> 
                                        <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/margemContribuicaoMarcaPorPeriodo_{tenantid}(tenantid=${tenantid})} ">
                                                    <a th:href="@{/vendas/{tenantid}/margemContribuicaoMarcaPorPeriodo_{tenantid}(tenantid=${tenantid})} "><label class="gl-lateral-menuSecundario">Marcas - Período</label></a>
                                        </li>       
                                        <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/margemContribuicaoGrupoPorPeriodo_{tenantid}(tenantid=${tenantid})} ">
                                                    <a th:href="@{/vendas/{tenantid}/margemContribuicaoGrupoPorPeriodo_{tenantid}(tenantid=${tenantid})} "><label class="gl-lateral-menuSecundario">Grupos - Período</label></a>
                                        </li>   
                                        <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/margemContribuicaoSubGrupoPorPeriodo_{tenantid}(tenantid=${tenantid})} ">
                                                    <a th:href="@{/vendas/{tenantid}/margemContribuicaoSubGrupoPorPeriodo_{tenantid}(tenantid=${tenantid})} "><label class="gl-lateral-menuSecundario">SubGrupos - Período</label></a>
                                        </li>   
<!--                                                                                                      -->
                           </ul>                
                </li>   
                
<!--********** Final do Menu Consultas Vendas ********** -->   

 <!--********** Inicio do Menu Consultas trocas ********** -->
  
                <li class="aw-menu__item" sec:authorize="hasAuthority('PESQUISA_VENDAS_GERAL')">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text"></i>
                                    <span class="gl-lateral-menuPrincipal">Trocas</span> 
                             
                        <i class="aw-menu__navigation-icon  fa"></i>                                
                    </a>
                           <ul class="aw-menu__list  aw-menu__list--sublist">   
                                         
                                         <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/trocas/{tenantid}/trocasDetalhadasDoDia_{tenantid}(tenantid=${tenantid})}">
                                                    <a th:href="@{/trocas/{tenantid}/trocasDetalhadasDoDia_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Detalhadas do dia</label></a>
                                        </li>       
                                        <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/trocas/{tenantid}/trocasDetalhadasPorPeriodo_{tenantid}(tenantid=${tenantid})}">
                                                    <a th:href="@{/trocas/{tenantid}/trocasDetalhadasPorPeriodo_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Detalhadas por período</label></a>
                                        </li> 
<!--                                         <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/vendasTotaisDoAnoPorLoja_{tenantid}(tenantid=${tenantid})}"> -->
<!--                                                     <a th:href="@{/vendas/{tenantid}/vendasTotaisDoAnoPorLoja_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total vendas do ano</label></a> -->
<!--                                         </li>                                                 -->
<!--                                           <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/vendasTotaisPorPeriodoPorLoja_{tenantid}(tenantid=${tenantid})}"> -->
<!--                                                     <a th:href="@{/vendas/{tenantid}/vendasTotaisPorPeriodoPorLoja_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total vendas por período</label></a> -->
<!--                                         </li>            -->
<!--                                          <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/vendas/{tenantid}/vendasDetalhadasPorPeriodo_{tenantid}(tenantid=${tenantid})}"> -->
<!--                                                     <a th:href="@{/vendas/{tenantid}/vendasDetalhadasPorPeriodo_{tenantid}(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">PDV Detalhadas por período por loja</label></a> -->
<!--                                         </li>                                                                      -->
                           </ul>                
                </li>   
                
<!--********** Final do Menu Consultas trocas ********** -->      

<!--********** Inicio do Menu Consultas Comissões ********** -->
  
                <li class="aw-menu__item"  sec:authorize="hasAuthority('CADASTRAR_USUARIO')">
                    <a href="#">
                        <i class="fa  fa-fw  fa-file-text"></i>
                                    <span class="gl-lateral-menuPrincipal">Comissões</span> 
                        <i class="aw-menu__navigation-icon  fa"></i>                                
                    </a>
                           <ul class="aw-menu__list  aw-menu__list--sublist">   
                                         
                                         <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/comissao/{tenantid}/comissaoTotalPorPeriodo(tenantid=${tenantid})}">
                                                    <a th:href="@{/comissao/{tenantid}/comissaoTotalPorPeriodo(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total por período</label></a>
                                        </li>       
<!--                                         <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/{tenantid}/vendasTotaisDoMesPorLoja(tenantid=${tenantid})}"> -->
<!--                                                     <a th:href="@{/{tenantid}/vendasTotaisDoMesPorLoja(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total do mês por loja</label></a> -->
<!--                                         </li>  -->
<!--                                         <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/{tenantid}/vendasTotaisDoAnoPorLoja(tenantid=${tenantid})}"> -->
<!--                                                     <a th:href="@{/{tenantid}/vendasTotaisDoAnoPorLoja(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total do ano por loja</label></a> -->
<!--                                         </li>                                                 -->
<!--                                           <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/{tenantid}/vendasTotaisPorPeriodoPorLoja(tenantid=${tenantid})}"> -->
<!--                                                     <a th:href="@{/{tenantid}/vendasTotaisPorPeriodoPorLoja(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Total por período por loja</label></a> -->
<!--                                         </li>            -->
<!--                                          <li class="aw-menu__item  aw-menu__item--link" gestaoloja:menu="@{/{tenantid}/vendasDetalhadasPorPeriodo(tenantid=${tenantid})}"> -->
<!--                                                     <a th:href="@{/{tenantid}/vendasDetalhadasPorPeriodo(tenantid=${tenantid})}"><label class="gl-lateral-menuSecundario">Detalhadas por período por loja</label></a> -->
<!--                                         </li>                                                                      -->
                           </ul>                
                </li>   
                
<!--********** Final do Menu Consultas Comissões ********** -->      
	        	
	        	
      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>