.listTasks { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 46rem;
    margin: 0 auto;

}

.listCount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    Margin-top: 4rem;
}


.listCount div:first-of-type {
    display: flex;
    flex-direction: row;
}

.listCount div p {
    
    border-radius: 8px;
    font-size: 0.875rem;
    font-weight: bold;
}
 


.listCount p:first-of-type span {
    color: var(--gray-200);
    font-size: 0.75rem;
    font-weight: bold; 
}

.listCount p:last-of-type {
    display: flex;
    color: var(--purple);
    font-size: 0.875rem;
    font-weight: bold;
}

.listCount p:last-of-type span {
    color: var(--gray-200);
    font-size: 0.75rem;
    font-weight: bold;   
}