<!DOCTYPE html>
<html 	lang="pt" 
			xmlns="http://www.w3.org/1999/xhtml" 
    		xmlns:th="http://www.thymeleaf.org"
    		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    		layout:decorate="~{layout/LayoutPadrao}"
    		xmlns:brewer="http://brewer.algaworks.com">
        
<head>
    <title>Pesquisa Compras Geral</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/r-2.2.2/datatables.min.css"/>
    <link rel="stylesheet" 
    		type="text/css" 
    		th:href="@{/stylesheets/vendors/responsive.bootstrap.min.css}"/>
    <script th:src="@{/javascripts/vendors/pace.min.js}"></script> 
    <link 	rel="stylesheet" 
    		type="text/css" 
    		th:href="@{/layout/stylesheets/pace-theme-barber-shop.css}"/>
</head>

<body>
	<section layout:fragment="conteudo">
	    <div class="page-header">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-sm-10">
	                    <h1>Pesquisa Compras Geral</h1>
	                </div>
	            </div>
	        </div>
	    </div>
    
    	<div class="container-fluid">
           <div class="table-responsive  bw-tabela-simples">
               <table 	class="table  table-hover table-striped" 
               				th:object="${vendasGeral}" 
               				id="pesquisaTableCompras" 
               				cellspacing="0" 
               				width="100%">
                   <thead>
                       <tr class="gl-tabela-Padrao-Titulos">
                           <th class="gl-tabela-comprasGeral-partNumberTitulo">PartNumber</th>
                           <th class="gl-tabela-comprasGeral-grupoTitulo">Grupo</th>
                           <th class="gl-tabela-comprasGeral-marcasTitulo">Marcas</th>
                           <th class="gl-tabela-comprasGeral-refpluTitulo">Refplu</th>
                           <th >Descrição</th>
                           <th class="gl-tabela-comprasGeral-custoTitulo">Custo Reposição</th>
                           <th class="gl-tabela-comprasGeral-precoVendaTitulo">Preço Venda</th>
                           <th class="gl-tabela-comprasGeral-vendasTitulo">Vendas 90 dias</th>
                           <th class="gl-tabela-comprasGeral-vendasTitulo">Vendas 60 dias</th>
                           <th class="gl-tabela-comprasGeral-vendasTitulo">Vendas 30 dias</th>
                           <th class="gl-tabela-comprasGeral-vendasTitulo">Vendas Mês Atual</th>
                           <th class="gl-tabela-comprasGeral-estoqueTitulo">Estoque Atual</th>
                       </tr>
                   </thead>

                   <tbody>
                       <tr 	class="gl-tabela-Padrao-dados" 
                       			th:each="vendas : ${vendasGeral}">
                           <td 	class="gl-tabela-comprasGeral-partNumberDados" 
                           			th:text="${vendas.partNumber}">Visa
                           </td>
                           <td 	class="gl-tabela-comprasGeral-grupoDados" 
                           			th:text="${vendas.grupo}">1
                           </td>
                           <td 	class="gl-tabela-comprasGeral-marcasDados" 
                           			th:text="${vendas.marca}">Visa
                           </td>
                           <td 	class="gl-tabela-comprasGeral-refpluDados" 
                           			th:text="${vendas.refplu}">Visa
                           </td>
                           <td  	th:text="${vendas.descricaoProduto}">Visa</td>
                           <td 	class="gl-tabela-comprasGeral-custoDados" 
                           			th:text="${vendas.precoCusto != null} ?  ${{'R$ ' + vendas.precoCusto}} : 'R$0,00'">Visa
                           </td>
                           <td 	class="gl-tabela-comprasGeral-precoVendaDados" 
                           			th:text="${vendas.precoVenda != null} ?  ${{'R$ ' + vendas.precoVenda}} : 'R$0,00'">Visa
                           </td>
                           <td 	class="gl-tabela-comprasGeral-vendasDados" 
                           			th:text="${vendas.venda90 != null} ?  ${@uIUtil.converterParaInteger(vendas.venda90)} : '0'">Visa
                           </td>
                           <td 	class="gl-tabela-comprasGeral-vendasDados" 
                           			th:text="${vendas.venda60 != null} ?  ${@uIUtil.converterParaInteger(vendas.venda60)} : '0'">Visa
                           </td>
                           <td 	class="gl-tabela-comprasGeral-vendasDados" 
                           			th:text="${vendas.venda30 != null} ?  ${@uIUtil.converterParaInteger(vendas.venda30)} : '0'">Visa
                           </td>
                           <td 	class="gl-tabela-comprasGeral-vendasDados" >
                           		<th:block 	th:if="${((vendas.estoqueAtual != null ? vendas.estoqueAtual : 0) + (vendas.vendaMesAtual != null ? vendas.vendaMesAtual : 0) < (vendas.venda30 != null ? vendas.venda30 : 0)) }">
                           			<label 	style="background-color: yellow; color: black; width: 100%" 
                           						th:text="${vendas.vendaMesAtual != null} ?  ${@uIUtil.converterParaInteger(vendas.vendaMesAtual)} : '0'">
                           			</label>
                          		</th:block>    
                          		<th:block 	th:if="${((vendas.estoqueAtual != null ? vendas.estoqueAtual : 0) + (vendas.vendaMesAtual != null ? vendas.vendaMesAtual : 0) > (vendas.venda30 != null ? vendas.venda30 : 0)) }">
                            	    <label	style="background-color: white; color: black; width: 100%" 
                            		 			th:text="${vendas.vendaMesAtual != null} ?  ${@uIUtil.converterParaInteger(vendas.vendaMesAtual)} : '0'">
                            		</label>
                          		</th:block>
                           </td>
                           <td 	class="gl-tabela-comprasGeral-estoqueDados" >
                               <th:block 	th:if="${(vendas.venda30 != null ? vendas.venda30 : 0) + (vendas.vendaMesAtual != null ? vendas.vendaMesAtual : 0) <= 0}">    
                                   <label 	style="background-color: red; color: white; width: 100%" 
                                  			th:text="${@uIUtil.converterParaInteger(vendas.estoqueAtual)}">
                                   </label>
                               </th:block>
                               <th:block 	th:if="${(vendas.venda30 != null ? vendas.venda30 : 0) + (vendas.vendaMesAtual != null ? vendas.vendaMesAtual : 0) > 0}">    
                                   <label		style="background-color: white; color: black; width: 100%" 
                                   				th:text="${@uIUtil.converterParaInteger(vendas.estoqueAtual)}">
                                   </label>
                               </th:block>    
                           </td>
                       </tr>
                       <tr th:if="${#lists.isEmpty(vendasGeral)}">
                          <td 	colspan="2" 
                          		class="gl-nadaEncontrado">Nenhuma venda foi encontrada
                          </td>
                       </tr>
                   </tbody>
               </table>
     
               <div 	class="gl-dates" 
               			th:if="${!#lists.isEmpty(vendasGeral)}">
                 	<hr />
				    <!--<label >EXPORTAR PARA:</label> -->
                   <button 	id="btnExportExcelCompras" 
                   				class="btn btn-sm btn-success clearfix">
                      <span class="fa fa-file-excel-o"></span>  EXPORT TO EXCEL
                   </button>
                   <hr />
               </div>
           </div>
		</div>
	</section>
	<th:block layout:fragment="javascript-extra">
	
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/r-2.2.2/datatables.min.js"></script>
		<script>
                 $(document).ready (function() {
                     $('#pesquisaTableCompras').dataTable( {
                           dom: 'Bfrtip',
//                            responsive: true,
                           buttons: [
                               'excel'
                           ],
                           "language": {
                               "lengthMenu": "Mostrar _MENU_ produtos por pagina",
                               "zeroRecords": "Nada foi encontrado - desculpe",
                               "info": "Mostrando página _PAGE_ de _PAGES_",
                               "infoEmpty": "Nenhum dado encontrado",
                               "infoFiltered": "(filtrado de _MAX_ total de dados)",
                               "search":  "Pesquisar:",
                               "paginate": {
                                   "first":      "Primeira",
                                   "last":       "Última",
                                   "next":       "Próxima",
                                   "previous":   "Anterior"
                               }
                            }
                       }); 
                 }); 
        </script>
        <script th:src="@{/javascripts/exportacaoExcel/tabelaParaExcel.js}"></script>  
   </th:block>
</body>
</html>
    
  
    